@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0px;
  font-size: 13px;
  font-family: "Muli", sans-serif;
  background: #f9f9f9;
}
a{
  color:inherit;
  text-decoration:none;
}
body.inner {
  background: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}
span.er-msg {
    color: #d61212;
    float: left;
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding: 3px 8px;
    box-sizing: border-box;
    border-radius: 2px;
    display:none;
}
header {
  width: 100%;
  background: #fff;
  height: 42px;
  border-bottom: solid 1px #eee;
  position: fixed;
  padding: 0 32px;
  box-sizing: border-box;
}
header img {
  height: 26px;
  margin-top: 8px;
  float: left;
}
ul#nav-links {
  float: left;
  color: #54c3bf;
  font-weight: bold;
  border-left: solid 1px #ddd;
  padding: 4px 0;
  padding-left: 20px;
  margin: 9px 0 0 20px;
  /* text-transform: uppercase; */
  font-size: 12px;
  /* letter-spacing: 1px; */
}
ul#nav-links li {
  float: left;
  margin-right: 12px;
}
ul#act {
  float: right;
  padding: 0;
  margin: 9px 0 0 0;
}
ul#act li {
  float: left;
  padding: 3px 8px;
  color: #c10e0e;
  border-radius: 30px;
  margin-right: 8px;
  background: #f3f3f3;
  font-weight: bold;
  border: solid 1px #e4e4e4;
}
ul#act li.show-nav{
color: #54c3bf;
    border: 0;
    background: #FFF;display:none;}
    ul#act li.show-nav i{
color: #54c3bf;}
    ul#act li.show-nav li{
    background: #FFF;border:0;margin:0 12px;}
ul#act li i {
  margin-right: 2px;
  color: #c10e0e;
}
ul#act li#login {
  margin-right: 0;
  color: #54c3bf;
}
ul#act li#login i {
  color: #54c3bf;
}
footer {
  width: 100%;
  background: #fff;
  height: 42px;
  border-top: solid 1px #eee;
  padding: 0 32px;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: bold;
  color: #666;
}
footer p {
  word-spacing: -3px;
  float: left;
}
footer ul#so {
  float: right;
  padding: 0;
  margin: 7px 0 0 0;
}
footer ul#so li {
  float: left;
  padding: 6px 8px;
  background: #00acee;
  border-radius: 30px;
  margin-right: 12px;
  color: #fff;
  font-weight: bold;
}
footer ul#so li#tw {
  background: #00acee;
}
footer ul li#fb {
  background: #3b5998;
  margin-right: 0;
  padding: 6px 11px;
}
div#container {
  display: flex;
  min-height: calc(100vh - 42px);
}
h1#logo {
  color: #c10e0e;
  text-align: center;
}
h1#logo span {
  text-align: center;
  color: #54c3bf;
}
h1#logo {
  color: #c10e0e;
  text-align: center;
}
h1#logo span {
  text-align: center;
  color: #54c3bf;
}
.hm-cnt {
  width: 482px;
  margin: 80px auto 38px;
}
h1.logo-des {
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 1px #fff;
}
#p1 {
    width: 50%;
    float: left;
    background: #54c3bf;
    color: #fff;
    border-radius: 80px 0 0 80px;
    text-align: center;
    padding: 18px 0 18px 16px;
    letter-spacing: 4px;
    box-sizing: border-box;
}
#p2 {
    width: 50%;
    float: left;
    background: #c10e0e;
    color: #fff;
    border-radius: 0 40px 40px 0;
    text-align: center;
    padding: 20.5px 0;
    font-size: 20px;
}
.hm-cnt p {
  text-align: center;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  float: left;
  font-weight: bold;
  overflow: hidden;
  margin: 12px 0;
}
span.smlr {
  float: left;
  margin: 8px;
  color: #333;
  font-size: 14px;
}
form#signup {
  overflow: hidden;
  width: 100%;
  padding: 5px;
  width: 340px;
  margin: -5px auto 5px auto;
  text-align: center;
}
form#signup h3 {
  font-size: 16px;
  margin: 8px 0;
}
form#signup h3 span {
  color: #c10e0e;
}
form#signup input {
  float: left;
  font-weight: bold;
  padding: 6px 8px;
  border-radius: 2px;
  border: solid 2px #f5f5f5;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  box-shadow: 0 0 2px #0000004f;
  letter-spacing: 1px;
  margin: 6px 0;
}
form#signup input#nm {
  width: 62%;
}
form#signup input#un {
  width: 34%;
  margin-left: 4%;
}
form#signup input#up {
  width: 48%;
}
form#signup input#uc {
  width: 48%;
  margin-left: 4%;
}
form#signup button {
  padding: 6px 12px;
  background: transparent;
  border: solid 3px #54c3bf;
  color: #54c3bf;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 80px;
  margin: 6px;
}
.hm-info {
  border-top: solid 1px #ddd;
  width: 100%;
}
.hm-info p {
  font-size: 12px;
  color: #7d7d7d;
  text-align: justify;
  font-family: monospace;
  margin: -8px 0;
  line-height: 16px;
  letter-spacing: 0;
  font-weight: normal;
}
.hm-cnt h2 {
  font-size: 12px;
  width: 100%;
  text-align: center;
  background: #fbe3f7;
  float: left;
  margin: -8px auto -5px 0px;
  color: #d61387;
  border-radius: 4px;
  padding: 4px 12px;
  box-sizing: border-box;
  text-align: left;
}
.hm-cnt h2 i {
  font-weight: 900;
  font-size: 20px;
  float: left;
  margin-right: 12px;
  margin-top: 5px;
}
.hm-info h5 {
  font-size: 12px;
  color: #292929;
  margin: 20px 0;
  line-height: 18px;
}
.hm-info h5 a {
  color: #0b8fde;
}
ul#ftr {
  width: 100%;
  float: left;
  overflow: hidden;
}
ul#ftr li {
margin: 5px 0px;
    float: left;
    width: 48%;
    border: solid 2px #f1f1f1;
    padding: 3px 8px;
    color: #16b5a0;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    background: #f3f3f3;
    box-sizing: border-box;
}
ul#ftr li:nth-child(even) {
  margin-left: 4%;
}
ul#ftr li i {
margin-right: 2px;
    font-size: 20px;
    color: #1a9e8d;
    float: left;
    margin: 8px 12px 3px 3px;
}

.content {
  width: 800px;
  height: auto;
  background: #fff;
  overflow: hidden;
  margin: 0 auto;
  border-right: solid 1px #eee;
}
#sidebar {
  background: #fff;
  overflow: hidden;
  width: 100px;
  float: left;
  height: 100%;
  border-right: solid 1px #ddd;
  box-sizing: border-box;
}
#sidebar h5#title {
    text-align:center;
}
#sidebar h5#title i {
    color: #ddd;
    font-size: 40px;
}
#sidebar img#logo {
  width: 80px;
  margin: 12px 10px;
}
img#user {
  width: 80px;
  margin: -5px 10px;
  box-sizing: border-box;
  border: solid 3px #fff;
  border-radius: 4px;
  box-shadow: 0px 0 2px 0px #00000054;
}
#act {
  height: 42px;
}
#act img#logo {
    width: 90px;
    margin: 6px 20px;
    display:none;
}
#act ul {
  float: right;
  margin-right: 20px;
}
#act ul li {
  float: left;
  margin-left: 12px;
  font-size: 16px;
  color: #54c3bf;
}
.mb-nav {
    position: absolute;
    width: 140px;
    overflow: hidden;
    margin-left: -130px;
    margin-top: 8px;
    border: solid 1px #ddd;
    border-radius: 8px;
    box-shadow: 0 0 4px 0px #0000003d;
    text-align: center;
    background: #fff;
    padding:10px 0;
    display:none;
}
.mb-nav ul {
    width: 100%;
    text-align: left;
    float: left!important;
}
.mb-nav ul li {
    font-size: 13px!important;
    font-weight: bold;
    width: 100%;
    float: left;
    padding: 10px 6px!important;
    color: #333!important;
    box-sizing: border-box;
}
.mb-nav ul li i{
    color:#54c3bf;margin-right:6px;
}
.inner-content {
  float: left;
  width: calc(100% - 100px);
  padding:20px;
  box-sizing:border-box;
}
.system_msg {
    margin: 0 auto;
    text-align: center;
    width:70%;
}
.system_msg h3 i {
    font-size: 120px;
    color: #d8d8d8;
}
.system_msg p {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    margin: 20px auto;
    text-align: left;
    line-height: 18px;
}
.system_msg form{
    overflow:hidden;
    width:100%;
}
.system_msg form input{
    width: 100%;
    box-sizing: border-box;
    background: #f9f9f9;
    border: solid 1px #ddd;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
        padding: 4px 12px;
        margin-bottom:8px;
}
.system_msg form textarea{
    width: 100%;
    box-sizing: border-box;
    background: #f9f9f9;
    border: solid 1px #ddd;
    border-radius: 3px;
    min-height: 60px;
    font-size: 12px;
    font-weight: bold;
        padding: 4px 12px;
}
.system_msg form button {
    background: #54c3bf;
    border: 0;
    color: #fff;
    border-radius: 3px;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin: 4px 0;
}
.myact {
  text-align: center;
  width: 360px;
  margin: 40px auto;
}
.myact h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.myact h3 i {
  font-size: 80px;
  color: #54c3bf;
  margin-bottom: 10px;
}
.myact p {
  font-size: 12px;
  font-weight: bold;
  color: #9e9e9e;
  margin: -10px 3px 5px;
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px;
}
.myact form {
  overflow: hidden;
  padding: 3px;
}
.myact input,
.myact textarea,
.myact select {
  width: 100%;
  border: solid 2px;
  float: left;
  font-weight: bold;
  padding: 6px 8px;
  border-radius: 4px;
  border: solid 2px #0000000d;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  /* box-shadow: inset 0 0 3px 1px #54c3bf78; */
  letter-spacing: 1px;
  background: #54c3bf1f;
  margin: 6px 0;
}
.myact textarea {
  width: 100%;
  max-width: 100%;
  min-height: 60px;
}
.myact select {
  border-radius: 2px;
  padding: 6px 8px;
  width: 27%;
  margin-left: 4%;
  height: 31px;
  /* margin-top: 10px; */
}
input#age {
  width: 15%;
}
select#gn {
  width: 20%;
  margin-left: 4%;
}
input#zip {
  width: 26%;
  margin-left: 4%;
}
input#oc {
  width: 48%;
}
input#phone {
  width: 48%;
  margin-left: 4%;
}
.myact button {
  padding: 6px 12px;
  background: #ffffff;
  border: 0;
  color: #54c3bf;
  font-size: #fff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 80px;
  margin: 6px;
  border: solid 3px #54c3bf;
}
.myact label {
  float: left;
  text-align: left;
  margin: 8px 0;
  font-weight: bold;
  font-size: 12px;
  color: #666;
  width: 100%;
}
.radio-input {
  float: left;
  margin: 8px 12px 8px 0;
  font-weight: bold;
}
.radio-bg {
  background: #eee;
  width: 14px;
  height: 14px;
  border-radius: 40px;
  box-shadow: 0 0 2px #00000094;
  float: left;
  margin-right: 8px;
  padding: 3px;
  box-sizing: border-box;
  margin-top: 1px;
}

.radio-btn {
  width: 100%;
  height: 100%;
  background: #1eacb5;
  border-radius: 40px;
}
