@media screen and (max-height: 800px) {
}
@media only screen and (max-width: 800px) {
  .content {
    width: 100%;
  }
}
@media only screen and (max-width: 590px) {
  ul#nav-links {
    display: none;
  }
}
@media only screen and (max-width: 520px) {
  .hm-cnt {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  ul#ftr li i {
    margin-right: 2px;
    font-size: 12px;
    color: #1a9e8d;
    font-size: 20px;
    margin: 4px 8px 0 0;
    float: left;
  }
  header {
    position: fixed;
    padding: 0 20px;
  }
  footer {
    padding: 0 20px;
  }
  #sidebar {
    overflow: hidden;
    width: 52px;
    height: 100%;
}
.inner-content {
    float: left;
    width: calc(100% - 60px);
    padding: 20px 15px;
    box-sizing: border-box;
    overflow: hidden;
}
  img#user {
    margin: 6px 6px;
    box-sizing: border-box;
    border: solid 0px #fff;
    border-radius: 2px;
    box-shadow: 0px 0 0px 0px transparent;
    position: fixed;
    width: 40px;
}
#sidebar img#logo {
    display: none;
}
}
@media only screen and (max-width: 480px) {
  span.smlr {
    font-size: 12px;
  }
  .hm-cnt h2 {
    font-size: 11px;
  }
  .hm-cnt h2 i {
    margin-right: 8px;
    margin-top: 4px;
  }
  ul#ftr li {
    font-size: 11px;
}
}
@media only screen and (max-width: 450px) {
  span.smlr {
    font-size: 11px;
  }
  .hm-cnt h2 {
    font-size: 10px;
  }
  .hm-cnt h2 i {
    margin-right: 6px;
    margin-top: 3px;
  }
    .myact {
    text-align: center;
    width: 100%;
    margin: 0px auto;
}
.myact select {

    width: 100%;
    margin-left: 0%;
}
.myact select#gn {
    width: 35%;
}
input#zip {
    width: 35%;
}
input#age {
    width: 22%;
}
input#phone {
    width: 30%;
}
input#oc {
    width: 66%;
}
}
@media only screen and (max-width: 412px) {
  .hm-cnt h2 i {
    float: none;
    font-size: 11px;
    margin: 0;
  }
  form#signup {
    width: 100%;
  }

}
@media only screen and (max-width: 400px) {
input#phone {
    width: 60%;
    margin-left:0;
}
input#oc {
    width: 100%;
}
.radio-input {
    width: 100%;
}

}
@media only screen and (max-width: 375px) {
  ul#ftr li i {
    font-size: 14px;
    margin: 0px 0px 3px 0;
    float: left;
    width: 100%;
  }
}
@media only screen and (max-width: 350px) {
  form#signup input#un {
    width: 100%;
    margin-left: 0%;
  }
  form#signup input#uc {
    width: 100%;
    margin-left: 0%;
  }
  form#signup input#un {
    width: 100%;
    margin-left: 0%;
  }
  form#signup input#up {
    width: 100%;
  }
  form#signup input#nm {
    width: 100%;
  }
}
